@import url('https://fonts.googleapis.com/css2?family=chocolate+classica1+sansi&family=rakka&display=swap');

/*Variaveis*/
:root {
    --primary-color:  #026773;
    --secundary-color:  #3ca6a6;
    --text-color:   #024959;
}